/* RESET */
*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-size: 100%;
    font-family: "Comfortaa", sans-serif;
}
nav, ul{ list-style: none; }
a{ text-decoration: none; cursor: pointer; opacity: 0.9; }
a:hover { opacity: 1; }  

/* HEADER */
header{
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    justify-content: space-between;
    padding: 0 50px;
    background-color: #fff;
}
header img{ width: 350px; }
header nav{ display: flex; }
header li { margin: 0 15px }
header li a { color: #191c03 }
header li:first-child{ margin-left: 0; }
header li:last-child{ margin-right: 0; }

@media (max-width: 700px){
    header img { width: 200px}
    header { flex-direction: column; }
    header img { margin-bottom: 10px } 
    header nav {margin-bottom: 25px }
}



/* HERO */

.hero {
    background-image: url(../img/imagem7.jpg);
    background-size: cover;
    min-height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.hero h1 {font-size: 3.2rem; margin-bottom: 15px; font-weight: 700}
.hero h3 {font-size: 2rem; margin-bottom: 15px}
.hero .btn {
    background-color: #fff; 
    border-radius: 4px;
    color: #191c03;
    padding: 20px 50px;
    text-transform: uppercase;
}

@media (max-width: 700px){
    .hero h1 { font-size: 2.5rem}
    .hero h3 { font-size: 1.5rem}
}

